---
import PageLayout from 'layout:Page';

let title = "Site title";
let lang = 'fr';
---
<PageLayout title={title} lang={lang}>
	<h1 class="text-red-500 lg:text-blue-500">I'm an heading that can be blue or red !</h1>
</PageLayout>
